* {
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ul-header-1 {
  display: inline-flex;
  padding: 20px;
}

.list {
  list-style: none;
  margin: 0;
}

.header-1 {
    background-color: rgb(68, 160, 128);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-2 {
  color: white;
  background-color: #4ac399;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.main {
  background-color: #f7c01c;
  height: 100%;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0 10px;

}
.h1-header,
.icon {
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin:10px;
}

.name,
.price {
  font-size: 16px;
}

button {
  background-color: rgb(68, 160, 128);
  color: white;
  display: block;
  margin:10px;
  border:none;
  height:30px;  
}

.principal, 
.lista,
.about {
padding: 10px;
display:flex;
}

